.layout-sidebar {
    width: 250px;
    background-color: #e9eaec;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    position: relative; 
    top: 0;
    left: 0;
    padding: 1rem;
    height: 100vh; /* Make sidebar full height */
    overflow-y: auto; /* Enable vertical scrolling */
}

.layout-sidebar.hidden {
    transform: translateX(-250px);
}

.layout-sidebar.visible {
    transform: translateX(0);
}

.sidebar-toggle-btn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
}

.sidebar-panel {
    margin-bottom: 1rem;
}
